/* 
Oliver Rayner
July 2022 
*/

/* Fonts */
@import url("https://use.typekit.net/ljf4sxo.css");
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,700&family=Rock+Salt&family=Space+Mono:wght@400;700&display=swap');

body {

    /* Color Palettes */

    /* Old Macintosh */
    --black-olive: #3A403Dff;
    --ash-gray: #C0BDACff;
    --cultured: #EEEEEEff;
    --black-olive-2: #454B47ff;
    --cultured-2: #ECECECff;
    
    /* Kurzgesagt Galaxy */
    --persian-indigo: #2A0970ff;
    --maximum-yellow-red: #FDBC5Aff;
    --persian-indigo-2: #3E1380ff;
    --russian-violet: #140B46ff;
    --blue-pigment: #3130A8ff;

    /* Salmon Pink/Gray */
    --light-salmon-pink: #FFC8C8;
    --salmon-pink: #FF9999;
    --light-salmon-gray: #444F5A;
    --salmon-gray: #3E4149;

    /* Mars */
    --mars-white: #f0e7e7;
    --mars-brown: #451804;
    --mars-dark-orange: #c1440e;
    --mars-orange: #e77d11;
    --mars-light-orange: #fda600;


    /* Background */
    background-color: black;
    
    /* Text */
    color: white;

    /* Window Sizes */
    padding: 0;
    margin: 0;

}

body h1 {
    font-family: 'Piazzolla', serif;
    font-weight: 700;
    font-size: min(8vw, 8vh);
    margin: 0;
}

body h5 {
    font-family: 'Rock Salt', cursive;
    font-size: min(1.5vw, 1.5vh);
    margin: 0;
}

body p {
    font-family: 'space-mono', mono;
    font-weight: 400;
    font-style: normal;
}

body .highlight_number {
    font-family: 'Rock Salt', cursive;
    color: yellow;
}

body .navbar {
    width: 10vw;
    height: 100vh;
    border-right: 2px solid white;
    background-color: inherit;
    padding: 0 0;
}

body .navbar .icon {
    width: 50%;
    margin: auto;
    display: block;
    padding: 1vh 0;
}

body .title_page {

    margin: auto;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;

}

body .title_page .image_self {
    margin: auto 0;
    color: inherit;
    background: url('/images/Design.jpeg') no-repeat center center;
    background-size: 45vh;
    height: 100vh;
    width: 30vw;
    float: left;
}

body .title_page .title_container {
    width: 70vw;
    float: right;
    margin: 0 0;
    border-left: 2px solid white;
}

body .title_page .title_container .title_background_text {
    /* font-size: min(12.5vw, 12.5vh); */
    font-size: min(8.5vh, 8.5vw);
    color: var(--black-olive);
    opacity: 0.25;
    font-family: 'space-mono';
    font-weight: 700;
    line-height: 0.8;
    position: fixed;
    top: 2%;
    right: 2%;
}

body .title_page .title_container .title_body {
    display: flex;
    margin: 2vh 2vw;
}

body .title_page .title_container .title_body .title_body_section {
    font-size: min(2vw, 2vh);
    font-family: 'space-mono', mono;
    color: var(--mars-white);
    width: 50%;
    margin: 0vh 2vw;
    text-align: left;
}

body .title_page .title_container .title_body .title_body_section .highlight {
    font-family: 'Rock Salt', cursive;
    color: var(--mars-light-orange);
    font-size: min(1.5vw, 1.5vh);
}

body .title_page .title_banner {
    color: var(--mars-white);

    padding: 4vh 2vw;
    font-size: min(6vw, 6vh);

    font-family: 'Rock Salt';
    font-size: 100%;
}

body .solar_system {
    background-image: url('/images/space.gif');
    background-repeat: repeat;
    background-size: cover;
}