/* Oliver Rayner
   June 2022 */

.center { width: 60vw; margin: 0 auto; }
.left { width: 20vw; margin: 0 0 0 auto; padding: 3vw 1vh }
.right { width: 20vw; margin: 0 auto 0 0; padding: 3vw 1vh }
.center_image {
    width: 102.5%;
    position: relative;
    transform: translateX(-1.25%); /*Shift it over to the left*/
}
body {
    margin: 0;
    background-color: #EBEBED;
}
p {
    font-size: 2.5vw;
}
.full_screen {
    margin: 0;
    width: 100vw;
    height: 100vh;
}
.full_image_mac {
    background: url("/images/Vintage-Macs001-1024x960.jpeg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: inherit;
}
.full_image_self {
    background: url("/images/png-transparent-stick-man-stick-figure-happy-stick-man-photography-smiley-desktop-wallpaper-thumbnail.png") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.terminal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20vh;
    /* Should make width adjust depending on iPhone vs. Computer/Other */
    width: 60vw;
    margin: auto;
    position: absolute;
    top: 41.0%;
    left: 50.0%;
    transform: translateY(-50%) translateX(-50%);

    font-family: monospace;
    color: limegreen;
    font-size: 5vw;
}
.terminal_input {
    border: none;
    border-color: transparent;
    resize: none;
    outline: none;
    font-family: monospace;
    background: transparent;
    color: inherit;
    font-size: inherit;
    text-align: center;
}
.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 25px rgba(102, 99, 99, 0.5) inset;
  }
.welcome_page {
    text-align: center;
    margin: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 600px;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 10vw;
    height: auto;
}
.skill_icon {
    width: 5vw;
    height: auto;
}
.link {
    text-decoration: none; 
    color: inherit;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}